# 1 Immutability

> list, set, dict is mutable

> string, tuple is immutable

# 2 List reassignment

In [2]:
l = [1, 2, 3]
l

[1, 2, 3]

In [3]:
l[:] = [2]   # This maybe needed for classed inheriting list
l

[2]

# 3 List Operations

In [3]:
l = list(range(10))
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
l.append(11)
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11]

In [5]:
del l[-2]
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 11]

In [6]:
l + [0]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 11, 0]

In [9]:
l.extend('abc')    # argument is iterable
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 11, 'a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']

In [11]:
l.insert(2, "abc")
l

[0,
 1,
 'abc',
 'abc',
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 11,
 'a',
 'b',
 'c',
 'a',
 'b',
 'c',
 'a',
 'b',
 'c']

In [13]:
l.remove('abc')
l

[0,
 1,
 'abc',
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 11,
 'a',
 'b',
 'c',
 'a',
 'b',
 'c',
 'a',
 'b',
 'c']

In [14]:
list('abc')

['a', 'b', 'c']

In [15]:
''.join(list('abc'))

'abc'

In [17]:
a = l.pop(6)
a

5

In [18]:
l[2:4]

['abc', 2]

In [19]:
l[3:]    # start is inclusive

[2, 3, 4, 6, 7, 8, 11, 'a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']

In [20]:
l[:5]    # stop is exclusive

[0, 1, 'abc', 2, 3]

In [21]:
l[:]    # make a copy of original list

[0,
 1,
 'abc',
 2,
 3,
 4,
 6,
 7,
 8,
 11,
 'a',
 'b',
 'c',
 'a',
 'b',
 'c',
 'a',
 'b',
 'c']

In [22]:
l[::-1]

['c',
 'b',
 'a',
 'c',
 'b',
 'a',
 'c',
 'b',
 'a',
 11,
 8,
 7,
 6,
 4,
 3,
 2,
 'abc',
 1,
 0]

In [1]:
del l[2:5]
l

NameError: name 'l' is not defined

In [ ]:
l[2:5] = 'replace'