In [1]:
import datetime

In [2]:
dt = datetime.datetime.now()
print(dt)

2019-02-02 12:28:30.236000

In [4]:
dt = dt.replace(hour=2)
print(dt)

2019-02-02 02:28:30.236000

# TimeDelta

In [6]:
td = dt - datetime.datetime.now()
print(type(td))
print(td)

<class 'datetime.timedelta'>
-1 day, 13:58:58.092000

> datetime.datetime.today() vs. datetime.datetime.now()

> now() accepts a timezone while today() doesn't

In [7]:
td.days

-1

In [8]:
td.microseconds

92000

In [9]:
dt + datetime.timedelta(days=3)

datetime.datetime(2019, 2, 5, 2, 28, 30, 236000)

In [ ]:
datetime.timedelta.total_seconds(td)

# Date and Time only

In [12]:
date = dt.date()
print(date)

2019-02-02

In [13]:
time = dt.time()
print(time)

02:28:30.236000

> datetime.datetime.today() vs. datetime.datetime.now()

> now() accepts a timezone while today() doesn't

In [14]:
datetime.datetime.combine(date, time)

datetime.datetime(2019, 2, 2, 2, 28, 30, 236000)

# Get Weekday

In [16]:
dt.weekday()

5

# Timestamp

In [24]:
ts = dt.timestamp()
print(ts)

1549096110.236

In [19]:
datetime.timedelta.total_seconds(td)

-36061.908

# Formatting and Parsing

In [20]:
dt.strftime('%B %d')

'February 02'

In [22]:
datetime.datetime.strptime('1984-04-13', '%Y-%m-%d')

datetime.datetime(1984, 4, 13, 0, 0)

In [23]:
datetime.datetime.strptime('1984-04-1 12:03', '%Y-%m-%d %H:%M')

datetime.datetime(1984, 4, 1, 12, 3)

In [25]:
datetime.datetime.fromtimestamp(ts)

datetime.datetime(2019, 2, 2, 2, 28, 30, 236000)

# Timezone

In [27]:
td = datetime.timedelta(hours=5, minutes=30)
tz = datetime.timezone(td)
print(tz)

UTC+05:30

In [28]:
dt.astimezone(tz)

datetime.datetime(2019, 2, 2, 13, 58, 30, 236000, tzinfo=datetime.timezone(datetime.timedelta(0, 19800)))

# pytz package

In [29]:
import pytz

In [30]:
pytz.utc

In [33]:
eastern = pytz.timezone('US/Eastern')
eastern

In [36]:
naive = datetime.datetime.today()
naive

datetime.datetime(2019, 2, 2, 12, 40, 45, 280000)

In [37]:
tz_aware = eastern.localize(naive)
tz_aware

datetime.datetime(2019, 2, 2, 12, 40, 45, 280000, tzinfo=<DstTzInfo 'US/Eastern' EST-1 day, 19:00:00 STD>)

In [40]:
tz_aware.astimezone(tz)

datetime.datetime(2019, 2, 2, 23, 10, 45, 280000, tzinfo=datetime.timezone(datetime.timedelta(0, 19800)))